
.color{
    border: 2px solid blue;
    
}
p{
    font-style: italic;
}
h4{
   text-align: center;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fav{
    color: violet;
    background-color: wheat;
    margin-left: 0px;
    /* border-radius: 10px; */
}
div{
    background-color: aqua;
    /* border: 10px; */
}